input[type='password'],[type="text"],[type="email"] {
	width: 20%;
	border: 2px solid gray;
	border-radius: 42px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
  }
  
  input[type="email"],[type='password'],[type="text"]:focus {
	border-color:rgb(28, 30, 32);
	box-shadow: 0 0 8px 0 dodgerBlue;
  }
  div[class="fm"]{
      width: 700%;
  }

  .submit, button {
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.submit, button:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.submit, button:active {
	position:relative;
	top:1px;
}
div[class="border"]{
background:#F3F2ED; 
border:4px double white;
padding:45px 10px;
margin:30px 10px 39px 100px;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
box-shadow:3px 3px 6px 2px #A9A9A9;
-moz-box-shadow:3px 3px 6px 2px #A9A9A9;
-webkit-box-shadow:3px 3px 6px #A9A9A9;
}
@media screen and (max-width: 490px) {
    table {
        display: none;
        
    }
    table, tr, td{
        display: block;
        width: 100%;
    }
		
    div[class="fm"],label{
        width: 450%;
        margin:0 0 0 25px;
	}
	
	
    }
