#inscription{ 
  background-color: #A9CC34;
}
  /*connexion et inscription*/

  .container-data .inscription{ 
    height:500px;
    width: 350px;
    margin-top:25px;
    background-color:#fff;
    border-radius: 10px;
}
.container-data .connexion{
  margin-top: 100px;
  height:600px;
  width: 500px;
}
.logo_rdk_connexion{ 
  margin-left: 50px;
  width: 200px;
  height:200px;

}



@media only screen and (min-width: 576px){ 
  .container-data .inscription{ 
     
      width:500px;
     
  }
  .logo_rdk_connexion{ 
      margin-left: 110px;  
  }
}

@media only screen and (min-width: 768px){ 
  .container-data .inscription{ 
     
      width:500px;
     
  }
  .logo_rdk_connexion{ 
      margin-left: 110px;  
  }
  .container-data .connexion{
     width: 500px;
  }
}


@media only screen and (min-width: 992px){ 
  .container-data .inscritpion{ 
      height: 500px;
     margin-left: 10px;
     width: 800px;
     margin-top:-45px;}
     
     .container-data .connexion{ 
     
      width: 600px;
      height: 650px;
      margin-top: 5px;
      margin-left:5%;
     
  }

} 
  


