<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDK financial</title>
    <link  href='/bootstrap-5/css/bootstrap.css' rel='stylesheet'>
    <link href='/Css/style.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/1748750407.js" crossorigin="anonymous"></script>
    <script src='/Views/js/sideBar.js' defer></script>
    <script src='/bootstrap-5/js/bootstrap.js' defer></script>
</head>
<body>
  <div id="background"></div>
  <header >
    
    <button class='btn-open'>
      <img src='/images/icons8-menu.svg'>
   </button>
     <nav class= 'navbarHead' id='sidebarjs'>
       <button type="button" class='close'><i class="fas fa-times"></i></button>
       <img src='/images/rdk_financial.png' alt="logo" class='logo-rdk'>
       <div class='menu'>
           <div class='menu-item'>
               <h3>Réservation</h3>
               <div>  
                   <ul class='sous-menu'>
                       <li><a href='#'>Planning de réservation</a></li>
                       <li><a href="/views/location.html">Réaliser un contrat de location</a></li>
                      <li> <a href="clients.html">client</a></li>
                   </ul>
               </div>
           </div>
           <div class='menu-item'>
             <h3>Gestion des véhicules</h3>
             <div>
                 <ul class='sous-menu'>
                  <li><a href='/views/ajout_vehicule.html'>Ajouter un véhicule</a></li>
                  <li><a href='/views/acceuil.html'>véhicules</a></li>
                 </ul>
             </div>
         </div>
       </div> 
     </nav>

      <div class='container-fluid '>
          <div class='table-container bdr'>
            <table class="table table-sm table-responsive-sm rounded-right ">
                <thead class='thead rounded-right '>
                  <tr>
                    <th scope="col" class='table-name'>#</th>
                    <th scope="col" class='table-name' >Nom</th>
                    <th scope="col" class='table-name' >Prenom</th>
                    <th scope="col" class='table-name' >Société</th>
                    <th scope="col" class='table-name' >N°siret</th>
                    <th scope="col" class='table-name' >Véhicule</th>
                    <th scope="col" class='table-name' >Immarticulation</th>
                    <th scope="col" class='table-name' >Date de départ</th>
                    <th scope="col" class='table-name' >Date de retour</th>
                  </tr>
                </thead>
                <tbody class='table-body'>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                 
                </tbody>
              </table>
          </div>
     
    
        
          <nav aria-label="Page navigation mt-5">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link chevron-table" href="#" aria-label="Previous">
                  <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                </a>
              </li>
              <li class="page-item"><a class="page-link table-pagi" href="#">1</a></li>
              <li class="page-item"><a class="page-link table-pagi" href="#">2</a></li>
              <li class="page-item"><a class="page-link table-pagi" href="#">3</a></li>
              <li class="page-item"><a class="page-link table-pagi" href="#">3</a></li>
              <li class="page-item"><a class="page-link table-pagi" href="#">3</a></li>
              <li class="page-item"><a class="page-link table-pagi" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link chevron-table" href="#" aria-label="Next">
                  <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
      </div>
</body>
</html>