<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/Css/form.css">
        <!-- CSS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href='/bootstrap-5/css/bootstrap.css' rel='stylesheet'>
    <link href='/Css/style.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/1748750407.js" crossorigin="anonymous"></script>
    <script src='/Views/js/sideBar.js' defer></script>
    <script src='/bootstrap-5/js/bootstrap.js' defer></script>
    <title>connexion</title>
</head>
<body>

   
        <div align="center" class="border" >
        <img src="/images/rdk_financial.png" width="120px">
       <br><br>
            <form method="POST" action="" >
                <table>
                    <tr>
                        <td>
                            <label for="mail">Mail :</label>
                       <div class="fm">
                           <input type="email" placeholder="Votre mail" id="mail" name="mail" /> 
                       </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="mdp">Mot de passe :</label>
                       <div class="fm">
                       <input type="password" placeholder="Votre mot de passe" id="mdp" name="mdp"> 
                       </div>
                        </td>
                    </tr>
                </table>
  
                <br>
                <input type="submit" name="submit" class="submit" value="Se connecter">
                <br>
                <a href="#">Mot de passe oublier ?</a>
            </form>
           
        </div>
    
</body>
</html>