@import './container-data.css';

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-head{ 
    padding: 10px 5px;
     font-size: 22px;
      text-align: center; 
      color:#fff;  
      text-decoration: underline;
}

/*sidebar*/

.opacity{ 
position:fixed;
background-color: rgba(0, 0, 0,  0.5);
top:0; 
left: 0;
overflow-y: auto;
z-index: 1;
left:0;
width: 100%;
height: 100%;
}
.navbarHead{
    color: black;
    height: 100%;
    width: 0px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: -20px;
    padding-left: 20px;
    background-color:#fff;
    overflow-x: hidden;
    transition: all 0.5s;
}


.openSidebar{ 
    width: 300px;
}

.menu-item h3{
  
    white-space: nowrap;
    font-size: 20px
}
.sous-menu li{
list-style: none;
font-size: 15px;
}
.sous-menu li a{
    white-space: nowrap;
    text-decoration: none;
    color:inherit;
    display: block;
    transition: 0.3s;
    }
.close{
    cursor: pointer;
}
.btn-open, .close{ 
    outline: none;
    border: none;
    width:0px;
}
.btn-open img{
    margin:25px 50px;
    background-color: none;
    color:#53B4FF;
    width:25px; 
    height:25px;
    cursor:pointer;
    
}

.close i{
  
   /* background-color: aqua;*/
    color: black;
  margin-left: 250px;
    width:25px; 
    height:25px;
}

.logo-rdk{
    width: 50px;
    height:50px;
    transform: translateY(45px);
    margin-left: 120px;
}

.menu{
    margin-top: 250px;
    padding-left: 25px;
}

.next-page a, .prev-page a{
    font-size: 18px;
   text-decoration: none;
   color: #fff;
}
.next-page{
 text-align: right;
padding: 30px;

}
.prev-page a{
    text-align: left;
}
.chevron i{ 
    padding-left: 5px; 
    color: #fff;
    transition: all 0.2s ease-in-out;
}
 .next-page a:hover .chevron-right i{ 
    transform: translateX(5px);
} 
.prev-page a:hover .chevron-left i{ 
    transform: translateX(-5px);
}



.pagination{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
 }

 .pdf-title{ 
     color: #fff;
     font-size: 18px;
     text-align: right;
     padding-right: 25px;
     cursor: pointer;
     text-decoration: underline;
 }
 tr{
     cursor: pointer;
 }
 .btn-pdf{ 

    background-color: #839e29;
    width: 250px;
    height: 40px;
    text-align: center;
    margin: 5px  150px;
    padding-top: 10px;
    border-radius: 5px;
    text-decoration: none; 
    color: #fff; 
    transition: all 0.2s linear;
    display: inline-block;
  }
  
  .btn-pdf:hover{
    color: #fff;
    background-color: #839e29;
  }
  
  @media only screen and (min-width: 768px){
    .btn-pdf{ 
        margin: 60px  0px 0px 200px ;
    
      }

}

@media only screen and (min-width: 992px){


    .title-head{ 
        font-size: 25px;
    }
.openSidebar{ 
    width: 400px;
}

.close i{
    
   margin-left: 350px;
 }

}

@media only screen and (min-width: 1200px){

    .title-head{ 
    padding: 35px 0px 25px 200px;

    }
    .btn-open{ 
        display: none;
    }
 

    .navbarHead{ 
        display: block;
        width: 300px;
    }

    .logo-rdk{
        margin-left: 35px;
        width: 150px;
        height:150px;
    }
    .prev-page{
    
        padding-top: 25px;
        padding-bottom: 15px;
        margin-left:300px;
       }
       .btn-pdf{ 
          
           margin-top: 50px;
        margin-left : 600px;
      }


    }






